{% extends 'userhome/basic.html' %}
{%block tittle%}contactUs{%endblock%}
{% block mainContent%}

    <div>
      <div class="d-flex  flex-column   align-items-center ">
        <div class="my-5"> <img class="bd-placeholder-img rounded-circle bg-primary " width="140" height="140" a"  preserveAspectRatio="xMidYMid slice" focusable="false"></div>
        <h2 class="fw-normal d-inline-block">kushal1o1&#10003;</h2><span class="badge bg-primary">0wner</span>
        <div>
        Mail :<span><h5 class="d-inline-block">kushalbaral101@gmail.com </h5></span>
      </div>
        <div>
        Phone:<h5 class="d-inline-block">9812345678</h5>
        </div>
        <div>
          <button class="btn btn-outline-primary"  data-bs-toggle="modal" data-bs-target="#message">Direct message</button>
        </div>
        
        <div><rect width="100%" height="100%" fill="#777"></rect></div>

        <div class="modal fade" id="message" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <label  class="col-form-label">Name</label>
                    <input type="text" class="form-control" >
                  </div>
                  <div class="mb-3">
                    <label for="recipient-email" class="col-form-label">Email:</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="mb-3">
                    <label for="message-text" class="col-form-label">Message:</label>
                    <textarea class="form-control" ></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Message</button>
              </div>
            </div>
          </div>
        </div>
    


      </div>
{%endblock%}



