{% extends 'userhome/basic.html' %}
{%block tittle%}Quote contactUs{%endblock%}
{% block mainContent%}

    <div>
      <div class="d-flex  flex-column fs-6 " style="font-style: oblique;">
     <div>   <br>
<p> Feel free to reach out to QuotesHub for any inquiries, collaborations, or feedback. We value your input and are here to assist you.
</p>
      </div>
      <div>   <br>Email:
      
        For general inquiries or collaboration opportunities, please email us at contact@quoteshub.com.
        </div>
        <div>  <br>  Social Media:
        Connect with us on social media for the latest updates, quotes, and community discussions.
        </div>
        <div>  <br>
     <p>
      Twitter: @QuotesHub <br>
      Instagram: @QuotesHubOfficial <br>
      Facebook: QuotesHub <br>
      Mailing Address: <br>
      Send us your correspondence to our physical address: kushalbaral1o1@gmail.com <br>
      QuotesHub Headquarters <br>
      [Your Street Address] <br>
      [Your City, State, Zip Code] <br>
      [Country] <br>
     </p>
 </div>
 <div> <br>Community Feedback:
        We value the thoughts and suggestions of our community. Share your feedback, ideas, or report any issues by filling out our Community Feedback Form.
        </div>
        <div>  <br>Support:
        If you need assistance or have specific inquiries, please visit our Support Center for helpful resources and to submit a support ticket.
        
        Thank you for choosing QuotesHub. We look forward to hearing from you and appreciate your contribution to our vibrant community of quote enthusiasts.
      
      </div>
      </div>
    </div>
   
       {%endblock%}



