{% extends 'userhome/basic.html' %}
{% block title %}Quote Home{% endblock %}
{% block loginout %}LogOut{% endblock %}
{% block mainContent %}
{% load static %}

<!-- Hero Banner Section -->
{% include './herosection.html'%}



<!-- Quote Feed Section -->
{% include './quotefeed.html'%}



<!-- Video Quote Feed section  -->
{% include './videoquotefeed.html'%}

<!-- Image Quote feed section -->
{% include './imagequotefeed.html'%}
    

<div class="d-flex align-items-center justify-content-around  "> <button type="button" class="btn btn-primary">Load more post <i
  class="bi bi-arrow-down-circle ms-2 align-middle"></i></button></div>
<!-- for new old post -->
<nav class="blog-pagination d-flex justify-content-center  " aria-label="Pagination">
  <a class="btn btn-outline-primary rounded-pill my-2" href="#">Older</a>
  <a class="btn btn-outline-secondary rounded-pill disabled my-2">Newer</a>
</nav>
{%endblock%}

